@model IEnumerable<Tag>

<aside class="single-sidebar-widget tag_cloud_widget">
    <h4 class="widget_title">Tag Clouds</h4>
    <ul class="list">
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("Details", "Tags", new { id = item.Id})">@item.Name</a></li>
        }
    </ul>
</aside>