################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/FA.JustBlog/.vs/FA.JustBlog/v17
/src/FA.JustBlog/FA.JustBlog.Models/bin/Debug
/src/FA.JustBlog/FA.JustBlog.Models/obj/Debug
