
@model CategoryMenuViewModel

@foreach (var item in Model.PopularCategory)
{
    <li class="nav-item active">
        @Html.ActionLink(item.Name, "Details", "Category", new { id = item.Id}, new { @class = "nav-link" })
    </li>
}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Left Categories
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        @foreach (var item in Model.leftCategories)
        {
            <a class="dropdown-item" href="@Url.Action("Details","Category", new { area = ""})">@item.Name</a>
        }
    </div>
</li>