
<aside class="single_sidebar_widget author_widget">
    <img class="author_img rounded-circle" src="img/blog/author.png" alt="">
    <h4>Charlie Barber</h4>
    <p>Senior blog writer</p>
    <div class="social_icon">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
    </div>
    <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.</p>
    <div class="br"></div>
</aside>