<div class="card mb-3">
    <img src="../assets/img/home-blog/@Model.ImageUrl" class="card-img-top" alt="@Model.Title">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.ShortDescription</p>
        <a href="#" class="btn btn-primary">More details...</a>
    </div>
</div>