@model  IEnumerable<Post>

<div class="list-group">
    <h3>@ViewBag.PartialViewTitle</h3>
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@item.Title</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small>And some small print.</small>
        </a>
    }
</div>
