<div class="card text-center">
    <img src="~/Assets/images/avatar/avatar-1.png" class="about-me-img rounded-circle bg-success m-auto" alt="...">
    <div class="card-body">
        <h5 class="card-title">Cong Dinh</h5>

        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
